<h1>
  Enrollment #<%= @enrollment.id %> details
</h1>

<a href="/enrollments">
  Go back
</a>
</div>
</div>

<dl>
  <dt>
    Course
  </dt>
  <dd>
    <%= @enrollment.course_id %>
  </dd>

  <dt>
    Student
  </dt>
  <dd>
    <%= @enrollment.student_id %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@enrollment.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@enrollment.updated_at) %> ago
  </dd>
</dl>

<hr>
